<section class="routines">
  <h1>Routines by the community</h1>
  <div class="cardsWrapper">
    <mat-card class="routineCard" *ngFor="let routine of routines | async">
      <mat-card-header>
        <mat-card-title> {{ routine.title }} </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="{{ routine.imgUrl }}"
        alt="src\assets\herobackground.jpg"
      />
      <mat-card-content>
        <p>
          {{ routine.briefDesc }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="routine.id">
          See Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <button
    mat-raised-button
    class="postButton"
    color="accent"
    routerLink="/routines/create"
  >
    Post your routine
  </button>
</section>
