#hero {
  position: relative;
  text-align: center;
  color: white;
}

#hero-img {
  object-fit: fit;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.hero-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  text-decoration: none;
}
